###
# sed -i '/^CONFIG/ s/^/#/' ./patches/configs_disabled_subsystems.config
###

#
# Data Access Monitoring
#

CONFIG_DAMON=n

#
# IEEE 1394 (FireWire) support
#

CONFIG_FIREWIRE=n
CONFIG_FIREWIRE_NOSY=n


# end of SCSI device support

CONFIG_NET_VENDOR_AMAZON=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_NET_VENDOR_META=n
CONFIG_NET_VENDOR_MICROSOFT=n

#
# Wireless WAN
#

CONFIG_WWAN=n

#
# Software defined radio USB devices
#

CONFIG_MEDIA_PCI_SUPPORT=n

#
# Supported DRM clients
#

CONFIG_DRM_AMDGPU=n

#
# ARM devices
#

CONFIG_DRM_HDLCD=n
CONFIG_DRM_MALI_DISPLAY=n

CONFIG_DRM_NOUVEAU=n

# end of Graphics support

CONFIG_DRM_RADEON=n

# end of Drivers for system framebuffers

CONFIG_DRM_VMWGFX=n
CONFIG_DRM_UDL=n
CONFIG_DRM_AST=n
CONFIG_DRM_QXL=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_DRM_XE=n

CONFIG_SND_PCI=n

#
# Simatic LED drivers
#

CONFIG_INFINIBAND=n

#
# Microsoft Hyper-V guest support
#

CONFIG_HYPERV=n

# end of Rpmsg drivers

CONFIG_SOUNDWIRE=n

